{% load static %}


<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
    <div class="logo d-flex justify-content-between">
        <a href="index-2.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
            <a href="{% url 'manage_staff' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Manage Staff</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'manage_course' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Manage Course</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'manage_session' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Manage Session</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'manage_student' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Manage Student</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'manage_subject' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Manage Subject</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'admin_view_attendance' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>  View Attendance</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'student_feedback_message' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>  Student Feedback</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'staff_feedback_message' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>   Stafff Feedback</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'student_leave_view' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>  Student Leave</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'staff_leave_view' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>  Staff Leave</span>
            </a>
        </li>

    </ul>
</nav>