{% load static %}


<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
    <div class="logo d-flex justify-content-between">
        <a href="index-2.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
            <a href="{% url 'staff_home' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Home</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'staff_take_attendance' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>Take Attendance</span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'staff_update_attendance' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>View Update Attendance</span>
            </a>
        </li>

        <li class="">
            <a href="{% url 'staff_add_result' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span> Add Result</span>
            </a>
        </li>
          <li class="">
            <a href="{% url 'staff_apply_leave' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>  Apply Leave</span>
            </a>
        </li>
         <li class="">
            <a href="{% url 'staff_feedback' %}" aria-expanded="false">
                <div class="icon_menu">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <span>  Feedback</span>
            </a>
        </li>
    </ul>
</nav>